body{
    background-color: bisque;
}
.game{
    text-align: center;
}

.btn{
    height: 10rem;
    width: 10rem;
    border: 0.35rem solid black;
    border-radius: 10px;
    margin: 1rem;

}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: whitesmoke;
}

.userflash{
    background-color: green;
}

.rules{
    margin: 3rem;
}